In [ ]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../../src')
import funciones as f
import soporte_prep as sp

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

In [ ]:
df_2023 = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='2.3.1', skiprows=11, index_col=0)

In [ ]:
df_2023.reset_index(drop=True, inplace=True)

In [ ]:
df_2023.head()

,Provincia,Tipo de Vehículo,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Total,Total %
0,NaN,Automóviles,Autobuses,Jeep,Carga,Motocicletas,Volteo,Máquinas Pesadas,Otros,NaN,NaN
1,Azua,7641,1352,4935,6559,52576,341,129,129,73662.00,1.27
2,Bahoruco,2288,388,1326,1114,11407,97,22,25,16667.00,0.29
3,Barahona,6637,1081,5175,3916,44324,262,78,208,61681.00,1.06
4,Dajabón,2515,222,2421,2290,26624,114,129,57,34372.00,0.59

In [ ]:
# Renombrar las columnas manualmente
df_2023.columns = [
    "Provincia", 
    "Automóviles", 
    "Autobuses", 
    "Jeep", 
    "Carga", 
    "Motocicletas", 
    "Volteo", 
    "Máquinas Pesadas", 
    "Otros", 
    "Total", 
    "Total %"
]

df_2023 = df_2023.iloc[1:]

In [ ]:
df_2023 = df_2023.iloc[:33]

In [ ]:
df_2023.reset_index(drop=True, inplace=True)

In [ ]:
df_2023.head()

,Provincia,Automóviles,Autobuses,Jeep,Carga,Motocicletas,Volteo,Máquinas Pesadas,Otros,Total,Total %
0,Azua,7641,1352,4935,6559,52576,341,129,129,73662.00,1.27
1,Bahoruco,2288,388,1326,1114,11407,97,22,25,16667.00,0.29
2,Barahona,6637,1081,5175,3916,44324,262,78,208,61681.00,1.06
3,Dajabón,2515,222,2421,2290,26624,114,129,57,34372.00,0.59
4,Distrito Nacional,446535,49784,227089,208389,772371,9328,12329,11920,1737745.00,29.90

In [ ]:
df_2023.to_csv('../Datos/datos_parquev/df_2023.csv')

## Registro Histórico del país

In [ ]:
df_historico = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023\\ParqueVehicular2023.xlsx', sheet_name='Serie Histórica', skiprows=5, index_col=0)

In [ ]:
df_historico.head()

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.00,2014.00,2014.00,2014.00
NaN,Automóviles1/,380382.00,406723.00,444154.00,475174.00,506301.00,514574.00,528178.00,560880.00,575386.00,602291.00,630115.00,645258.00,661747.00,678732.00,697180.00,717087.00,741583.00,773019.00,816470.00,865186.00,909420.00,956994.00,994301.00,1045414.00,1085675.00,1122336.00
NaN,Autobuses,36283.00,38300.00,40570.00,42829.00,49185.00,51520.00,53331.00,56591.00,58809.00,62927.00,67153.00,69987.00,73716.00,76300.00,78888.00,81660.00,84772.00,88109.00,92144.00,96473.00,101149.00,107147.00,111891.00,117803.00,123344.00,130691.00
NaN,Jeep,39535.00,45374.00,57414.00,67182.00,80624.00,86928.00,98488.00,124802.00,144351.00,177871.00,206314.00,228187.00,252881.00,274810.00,293901.00,312170.00,332788.00,357028.00,386706.00,419442.00,449918.00,487157.00,516912.00,569102.00,621291.00,678470.00
NaN,Carga 2/,183159.00,197740.00,217770.00,231218.00,248565.00,255830.00,261477.00,276492.00,286640.00,304978.00,320348.00,331120.00,344051.00,355337.00,363439.00,372238.00,381389.00,392395.00,405292.00,418573.00,431109.00,446833.00,458762.00,477365.00,497352.00,521278.00

In [ ]:
df_historico = df_historico.iloc[1:10,:]

In [ ]:
columnas_historico_int = df_historico.iloc[:, 1:].columns.tolist()
df_historico[columnas_historico_int] = df_historico[columnas_historico_int].astype(int)

In [ ]:
df_historico.reset_index(drop=True, inplace=True)
df_historico.head()

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Automóviles1/,380382.00,406723.00,444154.00,475174.00,506301.00,514574.00,528178.00,560880.00,575386.00,602291.00,630115.00,645258.00,661747.00,678732.00,697180.00,717087.00,741583.00,773019.00,816470.00,865186.00,909420.00,956994.00,994301.00,1045414.00,1085675.00,1122336.00
1,Autobuses,36283.00,38300.00,40570.00,42829.00,49185.00,51520.00,53331.00,56591.00,58809.00,62927.00,67153.00,69987.00,73716.00,76300.00,78888.00,81660.00,84772.00,88109.00,92144.00,96473.00,101149.00,107147.00,111891.00,117803.00,123344.00,130691.00
2,Jeep,39535.00,45374.00,57414.00,67182.00,80624.00,86928.00,98488.00,124802.00,144351.00,177871.00,206314.00,228187.00,252881.00,274810.00,293901.00,312170.00,332788.00,357028.00,386706.00,419442.00,449918.00,487157.00,516912.00,569102.00,621291.00,678470.00
3,Carga 2/,183159.00,197740.00,217770.00,231218.00,248565.00,255830.00,261477.00,276492.00,286640.00,304978.00,320348.00,331120.00,344051.00,355337.00,363439.00,372238.00,381389.00,392395.00,405292.00,418573.00,431109.00,446833.00,458762.00,477365.00,497352.00,521278.00
4,Motocicletas,271753.00,375023.00,504307.00,586844.00,691074.00,735565.00,768668.00,843941.00,866236.00,1047541.00,1164259.00,1252713.00,1352720.00,1481255.00,1566815.00,1678979.00,1803328.00,1946594.00,2096196.00,2238671.00,2398511.00,2573494.00,2695457.00,2874590.00,3063704.00,3281018.00

In [ ]:
df_historico['Tipo'] = df_historico['Tipo'].str.replace(r'\d+/.*', '', regex=True).str.strip()

In [ ]:
total_history = df_historico.iloc[[-1]]

## Registro del 2024

In [ ]:
df_actual = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2024\\Parque Vehicular.xlsx', sheet_name='Stock vehiculos', skiprows=9)

In [ ]:
df_actual.head()

,Tipo de Vehículo,Cantidad a diciembre 2023*,Año 2024,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre
1,Ambulancia,1630.00,1649,1657,1659,1664,1672,1683,1689,1689,1691,1705,1707
2,Autobús Privado,124611.00,125118,125778,126429,127113,127921,128468,129217,129769,130629,131633,132244
3,Autobús Público Interurbano,3646.00,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
4,Autobús Público Urbano,1305.00,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305

In [ ]:
df_actual = df_actual.iloc[1:19]

In [ ]:
df_actual.reset_index(drop=True, inplace=True)

In [ ]:
df_actual.columns = [
    'Tipo_Vehiculo',
    "Diciembre_2023", 
    "Enero", 
    "Febrero", 
    "Marzo", 
    "Abril", 
    "Mayo", 
    "Junio", 
    "Julio", 
    "Agosto", 
    "Septiembre", 
    "Octubre", 
    'Noviembre'
]

In [ ]:
df_actual['Tipo_Vehiculo'] = df_actual['Tipo_Vehiculo'].str.strip()

In [ ]:
filtro_automovil = df_actual['Tipo_Vehiculo'].str.contains('Automóvil')
suma_automovil = df_actual.loc[filtro_automovil, 'Noviembre'].sum()
df_historico.loc[df_historico['Tipo'] == 'Automóviles', '2024'] = suma_automovil

In [ ]:
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382.00,406723.00,444154.00,475174.00,506301.00,514574.00,528178.00,560880.00,575386.00,602291.00,630115.00,645258.00,661747.00,678732.00,697180.00,717087.00,741583.00,773019.00,816470.00,865186.00,909420.00,956994.00,994301.00,1045414.00,1085675.00,1122336.00,1155632.00
1,Autobuses,36283.00,38300.00,40570.00,42829.00,49185.00,51520.00,53331.00,56591.00,58809.00,62927.00,67153.00,69987.00,73716.00,76300.00,78888.00,81660.00,84772.00,88109.00,92144.00,96473.00,101149.00,107147.00,111891.00,117803.00,123344.00,130691.00,NaN
2,Jeep,39535.00,45374.00,57414.00,67182.00,80624.00,86928.00,98488.00,124802.00,144351.00,177871.00,206314.00,228187.00,252881.00,274810.00,293901.00,312170.00,332788.00,357028.00,386706.00,419442.00,449918.00,487157.00,516912.00,569102.00,621291.00,678470.00,NaN
3,Carga,183159.00,197740.00,217770.00,231218.00,248565.00,255830.00,261477.00,276492.00,286640.00,304978.00,320348.00,331120.00,344051.00,355337.00,363439.00,372238.00,381389.00,392395.00,405292.00,418573.00,431109.00,446833.00,458762.00,477365.00,497352.00,521278.00,NaN
4,Motocicletas,271753.00,375023.00,504307.00,586844.00,691074.00,735565.00,768668.00,843941.00,866236.00,1047541.00,1164259.00,1252713.00,1352720.00,1481255.00,1566815.00,1678979.00,1803328.00,1946594.00,2096196.00,2238671.00,2398511.00,2573494.00,2695457.00,2874590.00,3063704.00,3281018.00,NaN
5,Volteo,8387.00,9542.00,10653.00,11431.00,12606.00,12820.00,13012.00,13832.00,14535.00,15831.00,16816.00,17260.00,18272.00,18650.00,18941.00,19165.00,19400.00,19593.00,19974.00,20293.00,20746.00,21213.00,21690.00,22528.00,23920.00,25545.00,NaN
6,Máquinas Pesadas,9246.00,10124.00,11206.00,12180.00,12927.00,13166.00,13403.00,13633.00,14293.00,14031.00,15140.00,15653.00,18226.00,18913.00,19429.00,19978.00,20458.00,20835.00,21411.00,22254.00,23013.00,23680.00,24204.00,25294.00,26394.00,27582.00,NaN
7,Otros,7338.00,8007.00,8924.00,9307.00,9741.00,9979.00,10199.00,10393.00,10761.00,8837.00,9417.00,10042.00,13127.00,13576.00,14093.00,14496.00,14944.00,15391.00,15845.00,16446.00,17018.00,18358.00,19150.00,20352.00,22316.00,23968.00,NaN
8,Total,936083.00,1090833.00,1294998.00,1436165.00,1611023.00,1680382.00,1746756.00,1900564.00,1971011.00,2234307.00,2429562.00,2570220.00,2734740.00,2917573.00,3052686.00,3215773.00,3398662.00,3612964.00,3854038.00,4097338.00,4350884.00,4634876.00,4842367.00,5152448.00,5463996.00,5810888.00,NaN

In [ ]:
filtro_autobus = df_actual['Tipo_Vehiculo'].str.contains('Autobús')
suma_autobus = df_actual.loc[filtro_autobus, 'Noviembre'].sum()
df_historico.loc[df_historico['Tipo'] == 'Autobuses', '2024'] = suma_autobus
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382.00,406723.00,444154.00,475174.00,506301.00,514574.00,528178.00,560880.00,575386.00,602291.00,630115.00,645258.00,661747.00,678732.00,697180.00,717087.00,741583.00,773019.00,816470.00,865186.00,909420.00,956994.00,994301.00,1045414.00,1085675.00,1122336.00,1155632.00
1,Autobuses,36283.00,38300.00,40570.00,42829.00,49185.00,51520.00,53331.00,56591.00,58809.00,62927.00,67153.00,69987.00,73716.00,76300.00,78888.00,81660.00,84772.00,88109.00,92144.00,96473.00,101149.00,107147.00,111891.00,117803.00,123344.00,130691.00,138323.00
2,Jeep,39535.00,45374.00,57414.00,67182.00,80624.00,86928.00,98488.00,124802.00,144351.00,177871.00,206314.00,228187.00,252881.00,274810.00,293901.00,312170.00,332788.00,357028.00,386706.00,419442.00,449918.00,487157.00,516912.00,569102.00,621291.00,678470.00,NaN
3,Carga,183159.00,197740.00,217770.00,231218.00,248565.00,255830.00,261477.00,276492.00,286640.00,304978.00,320348.00,331120.00,344051.00,355337.00,363439.00,372238.00,381389.00,392395.00,405292.00,418573.00,431109.00,446833.00,458762.00,477365.00,497352.00,521278.00,NaN
4,Motocicletas,271753.00,375023.00,504307.00,586844.00,691074.00,735565.00,768668.00,843941.00,866236.00,1047541.00,1164259.00,1252713.00,1352720.00,1481255.00,1566815.00,1678979.00,1803328.00,1946594.00,2096196.00,2238671.00,2398511.00,2573494.00,2695457.00,2874590.00,3063704.00,3281018.00,NaN
5,Volteo,8387.00,9542.00,10653.00,11431.00,12606.00,12820.00,13012.00,13832.00,14535.00,15831.00,16816.00,17260.00,18272.00,18650.00,18941.00,19165.00,19400.00,19593.00,19974.00,20293.00,20746.00,21213.00,21690.00,22528.00,23920.00,25545.00,NaN
6,Máquinas Pesadas,9246.00,10124.00,11206.00,12180.00,12927.00,13166.00,13403.00,13633.00,14293.00,14031.00,15140.00,15653.00,18226.00,18913.00,19429.00,19978.00,20458.00,20835.00,21411.00,22254.00,23013.00,23680.00,24204.00,25294.00,26394.00,27582.00,NaN
7,Otros,7338.00,8007.00,8924.00,9307.00,9741.00,9979.00,10199.00,10393.00,10761.00,8837.00,9417.00,10042.00,13127.00,13576.00,14093.00,14496.00,14944.00,15391.00,15845.00,16446.00,17018.00,18358.00,19150.00,20352.00,22316.00,23968.00,NaN
8,Total,936083.00,1090833.00,1294998.00,1436165.00,1611023.00,1680382.00,1746756.00,1900564.00,1971011.00,2234307.00,2429562.00,2570220.00,2734740.00,2917573.00,3052686.00,3215773.00,3398662.00,3612964.00,3854038.00,4097338.00,4350884.00,4634876.00,4842367.00,5152448.00,5463996.00,5810888.00,NaN

In [ ]:
df_historico.loc[df_historico['Tipo'] == 'Jeep', '2024'] = df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Jeep', 'Noviembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Carga', '2024'] = df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Carga', 'Noviembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Motocicletas', '2024'] = df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Motocicleta', 'Noviembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Volteo', '2024'] = df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Volteo', 'Noviembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Máquinas Pesadas', '2024'] = df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Maquina Pesada', 'Noviembre'].values[0]

In [ ]:
df_historico.loc[df_historico['Tipo'] == 'Otros', '2024'] = (df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Ambulancia', 'Noviembre'].values[0] + 
                                                             df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Fúnebre', 'Noviembre'].values[0] + 
                                                             df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Montacarga', 'Noviembre'].values[0] + 
                                                             df_actual.loc[df_actual['Tipo_Vehiculo'] == 'Remolque', 'Noviembre'].values[0])

In [ ]:
df_historico.iloc[:]

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382.00,406723.00,444154.00,475174.00,506301.00,514574.00,528178.00,560880.00,575386.00,602291.00,630115.00,645258.00,661747.00,678732.00,697180.00,717087.00,741583.00,773019.00,816470.00,865186.00,909420.00,956994.00,994301.00,1045414.00,1085675.00,1122336.00,1155632.00
1,Autobuses,36283.00,38300.00,40570.00,42829.00,49185.00,51520.00,53331.00,56591.00,58809.00,62927.00,67153.00,69987.00,73716.00,76300.00,78888.00,81660.00,84772.00,88109.00,92144.00,96473.00,101149.00,107147.00,111891.00,117803.00,123344.00,130691.00,138323.00
2,Jeep,39535.00,45374.00,57414.00,67182.00,80624.00,86928.00,98488.00,124802.00,144351.00,177871.00,206314.00,228187.00,252881.00,274810.00,293901.00,312170.00,332788.00,357028.00,386706.00,419442.00,449918.00,487157.00,516912.00,569102.00,621291.00,678470.00,731357.00
3,Carga,183159.00,197740.00,217770.00,231218.00,248565.00,255830.00,261477.00,276492.00,286640.00,304978.00,320348.00,331120.00,344051.00,355337.00,363439.00,372238.00,381389.00,392395.00,405292.00,418573.00,431109.00,446833.00,458762.00,477365.00,497352.00,521278.00,545902.00
4,Motocicletas,271753.00,375023.00,504307.00,586844.00,691074.00,735565.00,768668.00,843941.00,866236.00,1047541.00,1164259.00,1252713.00,1352720.00,1481255.00,1566815.00,1678979.00,1803328.00,1946594.00,2096196.00,2238671.00,2398511.00,2573494.00,2695457.00,2874590.00,3063704.00,3281018.00,3509088.00
5,Volteo,8387.00,9542.00,10653.00,11431.00,12606.00,12820.00,13012.00,13832.00,14535.00,15831.00,16816.00,17260.00,18272.00,18650.00,18941.00,19165.00,19400.00,19593.00,19974.00,20293.00,20746.00,21213.00,21690.00,22528.00,23920.00,25545.00,26897.00
6,Máquinas Pesadas,9246.00,10124.00,11206.00,12180.00,12927.00,13166.00,13403.00,13633.00,14293.00,14031.00,15140.00,15653.00,18226.00,18913.00,19429.00,19978.00,20458.00,20835.00,21411.00,22254.00,23013.00,23680.00,24204.00,25294.00,26394.00,27582.00,28486.00
7,Otros,7338.00,8007.00,8924.00,9307.00,9741.00,9979.00,10199.00,10393.00,10761.00,8837.00,9417.00,10042.00,13127.00,13576.00,14093.00,14496.00,14944.00,15391.00,15845.00,16446.00,17018.00,18358.00,19150.00,20352.00,22316.00,23968.00,25303.00
8,Total,936083.00,1090833.00,1294998.00,1436165.00,1611023.00,1680382.00,1746756.00,1900564.00,1971011.00,2234307.00,2429562.00,2570220.00,2734740.00,2917573.00,3052686.00,3215773.00,3398662.00,3612964.00,3854038.00,4097338.00,4350884.00,4634876.00,4842367.00,5152448.00,5463996.00,5810888.00,NaN

In [ ]:
df_historico.loc[df_historico['Tipo'] == 'Total', '2024'] = df_actual['Noviembre'].iloc[-1]