# Notebook #2: Limpieza: limpieza y transformación de los datos

In [2]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../../src')
import funciones as f
import soporte_prep as sp

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

In [117]:
df_2023 = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023_actualizado\\Parque_Vehicular_2023_actualizado.xlsx', sheet_name='2.3.1', skiprows=11, index_col=0)

In [118]:
df_2023.reset_index(drop=True, inplace=True)

In [119]:
# Renombrar las columnas manualmente
df_2023.columns = [
    "Provincia", 
    "Automóviles", 
    "Autobuses", 
    "Jeep", 
    "Carga", 
    "Motocicletas", 
    "Volteo", 
    "Máquinas Pesadas", 
    "Otros", 
    "Total", 
    "Total %"
]

df_2023 = df_2023.iloc[1:]

In [120]:
df_2023 = df_2023.iloc[:33]
df_2023.reset_index(drop=True, inplace=True)
df_2023.columns = df_2023.columns.str.lower()

In [121]:
df_2023.to_csv('../../Datos/datos_parquev/df_2023.csv')

In [122]:
df_2023_sin_porc = df_2023.iloc[:,:-1]
df_2023_sin_porc['total'] = df_2023_sin_porc['total'].astype(int)
df_2023_sin_porc.to_csv('../../Datos/datos_parquev/df_2023_sinp.csv')

In [123]:
df_2023

,provincia,automóviles,autobuses,jeep,carga,motocicletas,volteo,máquinas pesadas,otros,total,total %
0,Azua,7360,1318,4810,6438,51438,335,127,128,71954.00,1.24
1,Bahoruco,2234,381,1304,1089,11265,97,22,23,16415.00,0.28
2,Barahona,6271,1049,4976,3802,43242,258,76,199,59873.00,1.03
3,Dajabón,2474,214,2393,2258,26460,114,129,55,34097.00,0.59
4,Distrito Nacional,449502,50151,228951,209711,782430,9408,12391,11964,1754508.00,30.20
5,Duarte,23183,2074,13341,12742,120411,491,1385,289,173916.00,2.99
6,El Seibo,2290,394,2210,2066,21508,126,105,42,28741.00,0.49
7,Elías Piña,1167,161,679,491,4787,39,29,5,7358.00,0.13
8,Espaillat,19932,1783,15944,12600,78427,544,268,249,129747.00,2.23
9,Hato Mayor,2447,453,2276,2148,23290,122,180,55,30971.00,0.53
10,Hermanas Mirabal,7927,813,6464,4864,46505,204,243,84,67104.00,1.16
11,Independencia,1032,220,693,597,3804,46,18,12,6422.00,0.11
12,La Altagracia,22186,5351,20659,13794,121963,947,562,535,185997.00,3.20
13,La Romana,18474,3317,13042,8333,125313,436,477,288,169680.00,2.92
14,La Vega,31231,2710,25277,20196,229630,1129,1467,534,312174.00,5.37
15,María Trinidad Sánchez,9823,814,5306,5487,68219,412,668,88,90817.00,1.56
16,Monseñor Nouel,10925,1440,8947,5786,82917,427,288,222,110952.00,1.91
17,Monte Cristi,5373,404,4714,4911,115797,205,731,152,132287.00,2.28
18,Monte Plata,4470,646,3069,2700,29909,144,87,45,41070.00,0.71
19,Pedernales,600,85,480,590,3730,43,12,19,5559.00,0.10
20,Peravia,9675,1689,8004,6529,66001,462,219,325,92904.00,1.60
21,Puerto Plata,21171,2959,22480,11927,93345,759,341,430,153412.00,2.64
22,Samaná,3840,862,4069,2444,35108,387,93,46,46849.00,0.81
23,San Cristóbal,34038,4259,22215,15792,176958,991,454,892,255599.00,4.40
24,San José de Ocoa,1630,205,1838,1683,14700,96,33,26,20211.00,0.35
25,San Juan de la Maguana,11899,1662,6786,5894,53556,425,507,93,80822.00,1.39
26,San Pedro de Macorís,16438,2485,11579,6788,102678,288,307,436,140999.00,2.43
27,Sánchez Ramírez,9488,833,5178,5136,42780,204,544,99,64262.00,1.11
28,Santiago,114419,8575,83960,49128,197437,2753,1975,1990,460237.00,7.92
29,Santiago Rodríguez,2175,300,2820,3136,14849,110,74,222,23686.00,0.41
30,Santo Domingo,257634,31985,135315,83754,412535,3216,3354,4233,932026.00,16.04
31,Valverde,10387,1042,8252,8253,79654,316,401,182,108487.00,1.87
32,Total,1121695,130634,678031,521067,3280646,25534,27567,23962,5809136.00,100.00

## Registro Histórico del país

In [7]:
df_historico = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2023_actualizado\\Parque_Vehicular_2023_actualizado.xlsx', sheet_name='Serie Histórica', skiprows=5, index_col=0)

In [8]:
df_historico = df_historico.iloc[1:10,:]

In [9]:
columnas_historico_int = df_historico.iloc[:, 1:].columns.tolist()
df_historico[columnas_historico_int] = df_historico[columnas_historico_int].astype(int)

In [10]:
df_historico.reset_index(drop=True, inplace=True)
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Automóviles1/,380382,406723,444154,475174,506301,514574,528178,560880,575386,602291,630115,645258,661747,678732,697180,717087,741583,773019,816470,865186,909420,956994,994301,1045414,1085675,1121695
1,Autobuses,36283,38300,40570,42829,49185,51520,53331,56591,58809,62927,67153,69987,73716,76300,78888,81660,84772,88109,92144,96473,101149,107147,111891,117803,123344,130634
2,Jeep,39535,45374,57414,67182,80624,86928,98488,124802,144351,177871,206314,228187,252881,274810,293901,312170,332788,357028,386706,419442,449918,487157,516912,569102,621291,678031
3,Carga 2/,183159,197740,217770,231218,248565,255830,261477,276492,286640,304978,320348,331120,344051,355337,363439,372238,381389,392395,405292,418573,431109,446833,458762,477365,497352,521067
4,Motocicletas,271753,375023,504307,586844,691074,735565,768668,843941,866236,1047541,1164259,1252713,1352720,1481255,1566815,1678979,1803328,1946594,2096196,2238671,2398511,2573494,2695457,2874590,3063704,3280646
5,Volteo,8387,9542,10653,11431,12606,12820,13012,13832,14535,15831,16816,17260,18272,18650,18941,19165,19400,19593,19974,20293,20746,21213,21690,22528,23920,25534
6,Máquinas Pesadas,9246,10124,11206,12180,12927,13166,13403,13633,14293,14031,15140,15653,18226,18913,19429,19978,20458,20835,21411,22254,23013,23680,24204,25294,26394,27567
7,Otros 3/,7338,8007,8924,9307,9741,9979,10199,10393,10761,8837,9417,10042,13127,13576,14093,14496,14944,15391,15845,16446,17018,18358,19150,20352,22316,23962
8,Total,936083,1090833,1294998,1436165,1611023,1680382,1746756,1900564,1971011,2234307,2429562,2570220,2734740,2917573,3052686,3215773,3398662,3612964,3854038,4097338,4350884,4634876,4842367,5152448,5463996,5809136

In [11]:
df_historico['Tipo'] = df_historico['Tipo'].str.replace(r'\d+/.*', '', regex=True).str.strip()

In [12]:
total_history = df_historico.iloc[[-1]]

## Registro del 2024

In [13]:
df_2024 = pd.read_excel('C:\\Users\\DELL\\Downloads\\ParqueVehicular2024-Recurrente actualizado\\Parque Vehicular.xlsx', sheet_name='Stock vehiculos', skiprows=9)

In [14]:
df_2024.head()

,Tipo de Vehículo,Cantidad a diciembre 2023*,Año 2024,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
1,Ambulancia,1629.00,1647,1655,1657,1662,1670,1681,1687,1687,1690,1704,1707,1712
2,Autobús Privado,124554.00,125108,125768,126419,127103,127912,128458,129209,129781,130641,131646,132263,132983
3,Autobús Público Interurbano,3646.00,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
4,Autobús Público Urbano,1305.00,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305

In [15]:
df_2024 = df_2024.iloc[1:19]

In [16]:
df_2024.reset_index(drop=True, inplace=True)

In [17]:
df_2024.columns = [
    'Tipo_Vehiculo',
    "Diciembre_2023", 
    "Enero", 
    "Febrero", 
    "Marzo", 
    "Abril", 
    "Mayo", 
    "Junio", 
    "Julio", 
    "Agosto", 
    "Septiembre", 
    "Octubre", 
    'Noviembre', 
    'Diciembre'
]

In [18]:
df_2024['Tipo_Vehiculo'] = df_2024['Tipo_Vehiculo'].str.strip()

In [19]:
df_2024

,Tipo_Vehiculo,Diciembre_2023,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,Ambulancia,1629.00,1647,1655,1657,1662,1670,1681,1687,1687,1690,1704,1707,1712
1,Autobús Privado,124554.00,125108,125768,126419,127103,127912,128458,129209,129781,130641,131646,132263,132983
2,Autobús Público Interurbano,3646.00,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646,3646
3,Autobús Público Urbano,1305.00,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305
4,Autobús Turístico,1129.00,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128
5,Automóvil Interurbano (Público),10538.00,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539,10539
6,Automóvil Privado,1091755.00,1095702,1098835,1102142,1105375,1108689,1111656,1114518,1116717,1119374,1122929,1125734,1128525
7,Automóvil Público Urbano,17625.00,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625,17625
8,Automóvil Turístico,1777.00,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775
9,Carga,521067.00,523336,525544,528378,530518,532941,534907,537265,538908,540806,543504,545979,548600
10,Fúnebre,314.00,316,318,321,324,325,325,328,331,331,331,331,331
11,Jeep,678031.00,684094,688993,694530,699010,703609,708203,712851,716355,720627,726727,731479,736744
12,Maquina Pesada,27567.00,27888,27956,28020,28106,28203,28292,28335,28373,28428,28482,28529,28549
13,Montacarga,1243.00,1262,1270,1275,1284,1313,1323,1326,1330,1336,1345,1350,1351
14,Motocicleta,3280646.00,3300026,3314999,3333541,3358862,3385711,3411065,3428197,3437330,3455402,3485599,3509263,3533418
15,Remolque,20776.00,20935,21041,21155,21240,21342,21461,21553,21674,21740,21828,21928,21998
16,Volteo,25534.00,25657,25740,25862,25982,26121,26318,26442,26525,26635,26766,26899,26990
17,Total,5809136.00,5841989,5868137,5899318,5935484,5973854,6009707,6037729,6055029,6083028,6126879,6161480,6197219

In [20]:
filtro_automovil = df_2024['Tipo_Vehiculo'].str.contains('Automóvil') #filtro para autos
suma_automovil = df_2024.loc[filtro_automovil, 'Diciembre'].sum() # ubico el valor
df_historico.loc[df_historico['Tipo'] == 'Automóviles', '2024'] = suma_automovil #coloco el valor

In [21]:
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382,406723,444154,475174,506301,514574,528178,560880,575386,602291,630115,645258,661747,678732,697180,717087,741583,773019,816470,865186,909420,956994,994301,1045414,1085675,1121695,1158464.00
1,Autobuses,36283,38300,40570,42829,49185,51520,53331,56591,58809,62927,67153,69987,73716,76300,78888,81660,84772,88109,92144,96473,101149,107147,111891,117803,123344,130634,NaN
2,Jeep,39535,45374,57414,67182,80624,86928,98488,124802,144351,177871,206314,228187,252881,274810,293901,312170,332788,357028,386706,419442,449918,487157,516912,569102,621291,678031,NaN
3,Carga,183159,197740,217770,231218,248565,255830,261477,276492,286640,304978,320348,331120,344051,355337,363439,372238,381389,392395,405292,418573,431109,446833,458762,477365,497352,521067,NaN
4,Motocicletas,271753,375023,504307,586844,691074,735565,768668,843941,866236,1047541,1164259,1252713,1352720,1481255,1566815,1678979,1803328,1946594,2096196,2238671,2398511,2573494,2695457,2874590,3063704,3280646,NaN
5,Volteo,8387,9542,10653,11431,12606,12820,13012,13832,14535,15831,16816,17260,18272,18650,18941,19165,19400,19593,19974,20293,20746,21213,21690,22528,23920,25534,NaN
6,Máquinas Pesadas,9246,10124,11206,12180,12927,13166,13403,13633,14293,14031,15140,15653,18226,18913,19429,19978,20458,20835,21411,22254,23013,23680,24204,25294,26394,27567,NaN
7,Otros,7338,8007,8924,9307,9741,9979,10199,10393,10761,8837,9417,10042,13127,13576,14093,14496,14944,15391,15845,16446,17018,18358,19150,20352,22316,23962,NaN
8,Total,936083,1090833,1294998,1436165,1611023,1680382,1746756,1900564,1971011,2234307,2429562,2570220,2734740,2917573,3052686,3215773,3398662,3612964,3854038,4097338,4350884,4634876,4842367,5152448,5463996,5809136,NaN

In [22]:
filtro_autobus = df_2024['Tipo_Vehiculo'].str.contains('Autobús')
suma_autobus = df_2024.loc[filtro_autobus, 'Diciembre'].sum()
df_historico.loc[df_historico['Tipo'] == 'Autobuses', '2024'] = suma_autobus
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382,406723,444154,475174,506301,514574,528178,560880,575386,602291,630115,645258,661747,678732,697180,717087,741583,773019,816470,865186,909420,956994,994301,1045414,1085675,1121695,1158464.00
1,Autobuses,36283,38300,40570,42829,49185,51520,53331,56591,58809,62927,67153,69987,73716,76300,78888,81660,84772,88109,92144,96473,101149,107147,111891,117803,123344,130634,139062.00
2,Jeep,39535,45374,57414,67182,80624,86928,98488,124802,144351,177871,206314,228187,252881,274810,293901,312170,332788,357028,386706,419442,449918,487157,516912,569102,621291,678031,NaN
3,Carga,183159,197740,217770,231218,248565,255830,261477,276492,286640,304978,320348,331120,344051,355337,363439,372238,381389,392395,405292,418573,431109,446833,458762,477365,497352,521067,NaN
4,Motocicletas,271753,375023,504307,586844,691074,735565,768668,843941,866236,1047541,1164259,1252713,1352720,1481255,1566815,1678979,1803328,1946594,2096196,2238671,2398511,2573494,2695457,2874590,3063704,3280646,NaN
5,Volteo,8387,9542,10653,11431,12606,12820,13012,13832,14535,15831,16816,17260,18272,18650,18941,19165,19400,19593,19974,20293,20746,21213,21690,22528,23920,25534,NaN
6,Máquinas Pesadas,9246,10124,11206,12180,12927,13166,13403,13633,14293,14031,15140,15653,18226,18913,19429,19978,20458,20835,21411,22254,23013,23680,24204,25294,26394,27567,NaN
7,Otros,7338,8007,8924,9307,9741,9979,10199,10393,10761,8837,9417,10042,13127,13576,14093,14496,14944,15391,15845,16446,17018,18358,19150,20352,22316,23962,NaN
8,Total,936083,1090833,1294998,1436165,1611023,1680382,1746756,1900564,1971011,2234307,2429562,2570220,2734740,2917573,3052686,3215773,3398662,3612964,3854038,4097338,4350884,4634876,4842367,5152448,5463996,5809136,NaN

In [23]:
df_historico.loc[df_historico['Tipo'] == 'Jeep', '2024'] = df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Jeep', 'Diciembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Carga', '2024'] = df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Carga', 'Diciembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Motocicletas', '2024'] = df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Motocicleta', 'Diciembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Volteo', '2024'] = df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Volteo', 'Diciembre'].values[0]
df_historico.loc[df_historico['Tipo'] == 'Máquinas Pesadas', '2024'] = df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Maquina Pesada', 'Diciembre'].values[0]

In [24]:
df_historico.loc[df_historico['Tipo'] == 'Otros', '2024'] = (df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Ambulancia', 'Diciembre'].values[0] + 
                                                             df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Fúnebre', 'Diciembre'].values[0] + 
                                                             df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Montacarga', 'Diciembre'].values[0] + 
                                                             df_2024.loc[df_2024['Tipo_Vehiculo'] == 'Remolque', 'Diciembre'].values[0])

In [25]:
df_historico.loc[df_historico['Tipo'] == 'Total', '2024'] = df_historico['2024'].sum()

In [26]:
df_historico['2024'] = df_historico['2024'].astype(int)

In [27]:
df_historico.to_csv('../../Datos/datos_parquev/registro_historico_anios_cat.csv')

In [28]:
df_historico_t = df_historico.T

In [29]:
df_historico_t.reset_index(inplace=True)

In [30]:
df_historico_t.columns = df_historico_t.iloc[0]
df_historico_t = df_historico_t[1:]

In [31]:
df_historico_t.rename(columns={'Tipo':'anio'}, inplace=True)
df_historico_t.columns = df_historico_t.columns.str.lower()

In [32]:
df_historico_t.rename(columns={'automóviles': 'automoviles', 'máquinas pesadas': 'maquinas_pesadas'}, inplace=True)

In [33]:
columnas_int_trans = df_historico_t.columns.tolist()

In [34]:
df_historico_t[columnas_int_trans] = df_historico_t[columnas_int_trans].astype('int64')

In [36]:
df_historico

,Tipo,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Automóviles,380382,406723,444154,475174,506301,514574,528178,560880,575386,602291,630115,645258,661747,678732,697180,717087,741583,773019,816470,865186,909420,956994,994301,1045414,1085675,1121695,1158464
1,Autobuses,36283,38300,40570,42829,49185,51520,53331,56591,58809,62927,67153,69987,73716,76300,78888,81660,84772,88109,92144,96473,101149,107147,111891,117803,123344,130634,139062
2,Jeep,39535,45374,57414,67182,80624,86928,98488,124802,144351,177871,206314,228187,252881,274810,293901,312170,332788,357028,386706,419442,449918,487157,516912,569102,621291,678031,736744
3,Carga,183159,197740,217770,231218,248565,255830,261477,276492,286640,304978,320348,331120,344051,355337,363439,372238,381389,392395,405292,418573,431109,446833,458762,477365,497352,521067,548600
4,Motocicletas,271753,375023,504307,586844,691074,735565,768668,843941,866236,1047541,1164259,1252713,1352720,1481255,1566815,1678979,1803328,1946594,2096196,2238671,2398511,2573494,2695457,2874590,3063704,3280646,3533418
5,Volteo,8387,9542,10653,11431,12606,12820,13012,13832,14535,15831,16816,17260,18272,18650,18941,19165,19400,19593,19974,20293,20746,21213,21690,22528,23920,25534,26990
6,Máquinas Pesadas,9246,10124,11206,12180,12927,13166,13403,13633,14293,14031,15140,15653,18226,18913,19429,19978,20458,20835,21411,22254,23013,23680,24204,25294,26394,27567,28549
7,Otros,7338,8007,8924,9307,9741,9979,10199,10393,10761,8837,9417,10042,13127,13576,14093,14496,14944,15391,15845,16446,17018,18358,19150,20352,22316,23962,25392
8,Total,936083,1090833,1294998,1436165,1611023,1680382,1746756,1900564,1971011,2234307,2429562,2570220,2734740,2917573,3052686,3215773,3398662,3612964,3854038,4097338,4350884,4634876,4842367,5152448,5463996,5809136,6197219

In [35]:
df_historico_t.to_csv('../../Datos/datos_parquev/df_historico_transpose.csv')